.parentCont{
    position: relative;
    width: 1096px;
    margin-left: 85px;
    text-align: right;
}

.btnControl{
    position: absolute;
    right: 10px;
    top: -22px;
}

#canBack{
    /* background-color: #fff; */
    display: inline-block;
}

.btnControl .buttons{
    width: 45px;
    height: 45px;
    margin-left: 5px;
    transition: transform .5s;
}

.btnControl .buttons:focus{
    transform: scale(1.1);
}

.btnControl button:first-child{
    background-image: url(../images/pencil-2.png);
    background-size: cover;
}

.btnControl button:nth-child(2){
    background-image: url(../images/eraser.png);
    background-size: cover;
}