
#vidCont{
    position: relative;
    top: 15px;
    text-align: left;
}

#vidCont div img{
    transform: scale(-1);
    height: 80px;
    margin-left: 5px;
    margin-right: 5px;
}

#vidCont div button{
    font-family: var(--activityName);
    width: 70px;
    height: 35px;
    background-color: #8d338f;
    color: #fff;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

#vidCont div{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding: 10px;
    border-radius: 40px;
    top: -50px;
    left: 365px;
    z-index: 1;
}

#vidPlayer-pre{
    width: 445px;
    border: 10px solid #858484;
    margin-left: 251px;
}

/* .activity-base{
    background-image: url(../images/activity-bg-image-2.jpg);
} */